.bx_sitemap .bx_sitemap_li_title a { font-size:1.25rem; }
.bx_sitemap .bx_sitemap_li_title span { font-size:inherit; }
.product-item-title { white-space: inherit; }
.wysiwyg .basket-item-info-name { font-size: 1.25rem; line-height: 1.5rem; }
.product-item-big-card .product-item-title a { font-size: 1.25rem; line-height: 1.5rem; }
.product-item-small-card .product-item-title a { font-size: 1.25rem; line-height: 1.5rem; }
.catalog-block-header { font-size: 1.25rem; margin-top: 1.5rem; }