div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
	float:left; 
	/* width:72px; */
	margin:1px 10px 0 0;
}

.news-item {
	display:inline-block;
	margin-bottom:10px;
}

.news-name {
	float:left; 
	/* width:590px; */
	font-size:15px;
}